.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;

  justify-content: flex-end;
  overflow: hidden;
}

.slideshow {
  flex: 2 1 0;
  height: 100%;
}


.registration-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  gap: 3%;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
  height: 100%;
  background-color: #f9f9f9;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.input-container {
  margin: 10px 0;
}

input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.register-button {
  background-color: #a564b1;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: grey;
  color: white;
}

.error-message {
  display: flex;
  gap: 1%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}