.buttons {
    position: absolute;
    bottom: 3%;
    left: 30%;
    gap: 5px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    margin: 5px;
}

.button-selected {
    background-color: #0056b3;
}